<ion-header>
  <ion-navbar color="primary">
    <ion-title>资料库</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="addProject()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="search">
    <ion-searchbar (input)="getItems($event)" placeholder="搜索"></ion-searchbar>
  </ion-toolbar>
  <div>
    <ion-segment [(ngModel)]="database" (ionChange)="sysChanged()">
      <ion-segment-button value="project">
        项目
      </ion-segment-button>
      <ion-segment-button value="owner">
        业主客户
      </ion-segment-button>
      <ion-segment-button value="company">
        企业客户
      </ion-segment-button>
      <ion-segment-button value="station">
        站点
      </ion-segment-button>
      <ion-segment-button value="files">
        我的文档
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>


<ion-content (ionScroll)="onScroll()">
  <div [ngSwitch]="database">
    <!-- 资料库      项目 -->
    <ion-list *ngSwitchCase="'project'">
      <ion-item-group *ngFor="let item of projectContacts" #IonItemGroup1>

        <ion-item-divider color="bgColor" sticky>
          <ion-label>{{item.letter}}</ion-label>
        </ion-item-divider>

        <ion-item-sliding #slidingItem>
          <ion-item *ngFor="let i of item.data" (click)="gotoDetails(i.id,i.tonken)">
            <h2>{{i.project_name}}</h2>
          </ion-item>
        </ion-item-sliding>

      </ion-item-group>
    </ion-list>
    <!-- 资料库      项目 -->

    <!-- 资料库  业主客户 -->
    <ion-list *ngSwitchCase="'owner'">
      <ion-item-group *ngFor="let item of ownerContacts" #IonItemGroup1>
        <ion-item-divider color="bgColor" sticky>
          <ion-label>{{item.groupName}}</ion-label>
        </ion-item-divider>
        <ion-item-sliding #slidingItem>
          <ion-item *ngFor="let i of item.it">
            <h2>{{i}}</h2>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <!-- 资料库  业主客户 -->

    <!-- 资料库    企业客户 -->
    <ion-list *ngSwitchCase="'company'">
      <ion-item-group *ngFor="let item of companyContacts" #IonItemGroup1>
        <ion-item-divider color="bgColor" sticky>
          <ion-label>{{item.groupName}}</ion-label>
        </ion-item-divider>
        <ion-item-sliding #slidingItem>
          <ion-item *ngFor="let i of item.it">
            <h2>{{i}}</h2>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <!-- 资料库    企业客户 -->

    <!-- 资料库      站点 -->
    <ion-list *ngSwitchCase="'station'">
      <ion-item-group *ngFor="let item of stationContacts" #IonItemGroup1>
        <ion-item-divider color="bgColor" sticky>
          <ion-label>{{item.groupName}}</ion-label>
        </ion-item-divider>
        <ion-item-sliding #slidingItem>
          <ion-item *ngFor="let i of item.it">
            <h2>{{i}}</h2>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <!-- 资料库      站点 -->

    <!-- 资料库     我的文档 -->
    <ion-list *ngSwitchCase="'files'">
      <ion-item-group *ngFor="let item of filesContacts" #IonItemGroup1>
        <ion-item-divider color="bgColor" sticky>
          <ion-label>{{item.groupName}}</ion-label>
        </ion-item-divider>
        <ion-item-sliding #slidingItem>
          <ion-item *ngFor="let i of item.it">
            <h2>{{i}}</h2>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <!-- 资料库     我的文档 -->
  </div>

  <div id="letter" #IndexedMenu>
    <p class="indexed-item" [class.activate]="letter === index" *ngFor="let letter of newArr; let i = index" (click)="selectIndex(i)">{{letter}}</p>
  </div>
  <div class="modal" [class.show]="showModal">
    {{index}}
  </div>

  <ion-fab right bottom (click)="gotoFilter()">
    <button ion-fab color="light">筛选</button>
  </ion-fab>

</ion-content>
