// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-content-md {//安卓居中
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: -4px
}
.back-button.show-back-button {
    z-index: 100;
}

$themeColor:#32a7e3;
$white:#fff;
$fontColor:#333;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//单选框的样式
@mixin radioBtn {
  .checkbox-icon {
    width: 26px;
    height: 26px;
  }
  .checkbox-ios .checkbox-checked .checkbox-inner {
    width: 6px;
    height: 9px;
    top: 6px;
    left: 9px;
  }
}

.scroll-content {
  background: #f4f4f4;
}

.toolbar-title-ios {
  font-weight: 500;
}

.text-input {
  text-align: right;
}
.header-ios .toolbar-background-ios{ 
  border:none;
}